<!-- 김서영_60221302_고급웹final -->

<link rel="stylesheet" href="/css/createPost.css" />

<body>
  <div class="page-wrapper">
    <h2>게시글 작성</h2>

    <form action="/post" method="POST">
      <input type="hidden" name="diaryId" value="<%= diaryId %>" />

      <div class="form-group">
        <label>제목</label>
        <input type="text" name="title" required />
      </div>

      <div class="form-group">
        <label>내용</label>
        <textarea name="content" required></textarea>
      </div>

      <button type="submit">작성하기</button>
    </form>
  </div>
</body>
