<!-- 김서영_60221302_고급웹final -->

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- 공통 CSS -->
    <link rel="stylesheet" href="/css/layout.css" />

    <title>Diary Service</title>
  </head>

  <body>
    <!-- 공통 네비게이션 -->
    <header class="header">
      <div class="logo">
        <a href="/">
          <img src="/images/logo.png" alt="" width="40px" />
          Log-in</a
        >
      </div>

      <nav class="nav">
        <% if (user) { %>
        <span class="nickname"><%= user.nick %>님</span>
        <a href="/auth/logout">로그아웃</a>
        <% } else { %>
        <a href="/login">로그인</a>
        <a href="/signup">회원가입</a>
        <!-- 수정됨 -->
        <% } %>
      </nav>
    </header>

    <main class="container"><%- body %></main>

    <!-- 공통 footer -->
    <footer class="footer">
      <p>© 2025 Log-in</p>
      <p>김서영_60221302_고급웹final</p>
    </footer>
  </body>
</html>
