<!-- 김서영_60221302_고급웹final -->

<!DOCTYPE html>
<html lang="ko">
  <head>
    <link rel="stylesheet" href="/css/createDiary.css" />
    <meta charset="UTF-8" />
    <title>다이어리 만들기</title>
  </head>

  <body>
    <div class="cover">
      <h2>다이어리 만들기</h2>

      <form action="/diary/create" method="POST">
        <div class="form-group">
          <label for="title">제목</label>
          <input type="text" id="title" name="title" required />
        </div>

        <div class="form-group">
          <label for="description">설명</label>
          <textarea
            id="description"
            name="description"
            rows="5"
            required
          ></textarea>
        </div>

        <button type="submit">생성하기</button>
      </form>
    </div>
  </body>
</html>
